<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4 text-center">Blogs panel <a href="/Blogs/Admin/Create" class="btn btn-primary">Create blog</a></h1>
            <div class="container">
                <div class="row" id="blogContainer">
                    <!-- Blog cards will be rendered here -->
                </div>
            </div>

            <script id="blogTemplate" type="text/x-handlebars-template">
                {{#each blogs}}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{content}}</p>
                            <a href="{{id}}" class="btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script>
                $(function (){
                   var token = localStorage.getItem('token');
                   var nodeUrl = localStorage.getItem('nodeUrl');
                   console.log(token);
                   if (!token){
                       localStorage.clear();

                       console.log('no token, should be redirect to login page')
                       window.location.href = '/login';
                       return;
                   }
                   var tokenJson = JSON.parse(token);
                   if (tokenJson.role !== 'admin'){
                       window.location.href = '/ErrorPages/unauthorized';
                       return;
                   }
                    $.get(`/get-blogs?nodeUrl=${encodeURIComponent(nodeUrl)}&token=${encodeURIComponent(token)}`)
                        .done(function(response) {
                            var resultJson = JSON.parse(response);

                            var data = [];
                            // Iterate over the keys of the resultJson object
                            Object.keys(resultJson).forEach(function(key) {
                                var item = resultJson[key];
                                if (item.data) {
                                    // Iterate over the properties of the item.data object
                                    for (var indexKey in item.data) {
                                        if (item.data.hasOwnProperty(indexKey)) {
                                            var index = item.data[indexKey];
                                            var name = index.name;
                                            var content = index.content;
                                            data.push({
                                                id: item.document.id,
                                                name: name,
                                                content: content
                                            });
                                        }
                                    }
                                }
                            });

                            var source = $("#blogTemplate").html();
                            var template = Handlebars.compile(source);
                            var html = template({ blogs: data }); // Assuming your template expects an object with a property 'blogs' containing the blog data
                            $("#blogContainer").html(html);
                        })
                        .fail(function(xhr, status, error) {
                            // Handle failed response from login-to-node
                            localStorage.removeItem('nodeUrl');
                            localStorage.removeItem('token');
                            window.location.href = '/login';
                            alert("Error: " + xhr.responseText); // Display error message
                        });


                });
            </script>
        </div>

    </body>
</html>
