<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">[[#{app.title}]]</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/app.css}" rel="stylesheet" />
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
        <script th:src="@{/js/app.js}" defer></script>
        <script>
            $(function (){
                var token = localStorage.getItem('token');
                var nodeUrl = localStorage.getItem('nodeUrl');
                var container = $('#login-or-logout');
                container.empty();
                if (token){
                    container.html('<a id="logout" class="nav-link btn btn-primary">Logout</a>');
                    $('#logout').click(function (){

                        $.get('/logout', { nodeUrl: nodeUrl, token: token })
                            .done(function(response) {
                                if (response){
                                    localStorage.removeItem('token');
                                    localStorage.removeItem('nodeUrl');
                                }

                                // Redirect to another page
                                window.location.href = "/"; // Change the URL as needed
                            })
                    })
                }
                else {
                    container.html('<a href="/login" class="nav-link btn btn-primary">Login</a>');
                }
            })
        </script>
    </head>
    <body>
        <header class="bg-light">
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-md">
                    <a th:href="@{/}" class="navbar-brand">
                        <img th:src="@{/images/logo.png}" th:alt="#{app.title}" width="30" height="30" class="d-inline-block align-top">
                        <span class="ps-1">[[#{app.title}]]</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                            th:aria-label="#{navigation.toggle}" aria-controls="navbarToggle" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <ul class="navbar-nav ms-auto">
                            <li class="navbar-item">
                                <a th:href="@{/}" class="nav-link">[[#{navigation.home}]]</a>
                            </li>
                            <li id="login-or-logout" class="navbar-item">

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main class="my-5">
            <div class="container">
                <p th:if="${MSG_SUCCESS}" class="alert alert-success mb-4" role="alert">[[${MSG_SUCCESS}]]</p>
                <p th:if="${MSG_INFO}" class="alert alert-info mb-4" role="alert">[[${MSG_INFO}]]</p>
                <p th:if="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert">[[${MSG_ERROR}]]</p>
                <div layout:fragment="content" />
            </div>
        </main>
    </body>
</html>
