<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Login - My App</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body>
<main class="my-5">
    <div class="container">
        <div class="card">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button id="btn" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
<script th:src="@{/js/app.js}" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#btn').click(function(event) {
            event.preventDefault(); // Prevent the default form submission
            var username = $('#username').val();
            var password = $('#password').val();

            // Check if the username and password are filled
            if (!username || !password) {
                alert("Please enter both username and password.");
                return;
            }
            // Call the login-to-node endpoint to get the node URL and token
            $.get('/login-to-node', { username: username, password: password })
                .done(function(response) {
                    // Handle successful response from login-to-node
                    var token = response.token;
                    var nodeUrl = response.nodeUrl;

                    // Store token and node URL in localStorage
                    localStorage.setItem('token', token);
                    localStorage.setItem('nodeUrl', nodeUrl);

                    // Redirect to another page
                    window.location.href = "/"; // Change the URL as needed
                })
                .fail(function(xhr, status, error) {
                    // Handle failed response from login-to-node
                    console.error(xhr.responseText);
                    alert("Error: " + xhr.responseText); // Display error message
                });
        });
    });
</script>
</body>
</html>
